<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhavei.taskudacodingweek2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icontask"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icontask"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".listview.listviewDetailVehicle" />
        <activity android:name=".recyceview.DetailGunungActivity" />
        <activity android:name=".AboutMainActivity" />
        <activity android:name=".recyceview.ListGunungActivity" />
        <activity android:name=".listview.ListviewMainActivity" />
        <activity android:name=".age.calculator.AgeMainActivity" />
        <activity android:name=".bmicalculator.BmimainActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>